---

const handleSubmit = () => {}
---

<div class="relative h-2/3">
    <div class="absolute">
        <img src="/background-white.jpg" alt="contact" >
    </div>
    <div class="absolute top-1/2 left-[40%] z-10 pt-12 h-64 flex flex-col items-center justify-around">
        <p class="text-3xl lg:text-5xl">
            CONTACT
        </p>
        <div class="border-b-8 rounded-md border-blue-600 w-12 self-center" />
        <p class="w-3/4 lg:w-full text-center text-sm lg:text-xl" font-weight="300">
            下記3項目を記入の上、SUBMITボタンを押下してください。 <br> ご連絡をお待ちしております!
        </p>

        <div class="w-96 h-[40rem] lg:w-[40rem] bg-white rounded-md shadow-md">
            <form method="POST" action="/api/formSubmit" class="flex flex-col mx-8">
                <label for="name" class="mt-4 mb-2 self-start text-xs lg:text-base">お名前</label>
                <input type="text" id="name" name="name" required class="mt-0" autocomplete="name" placeholder="お名前" />
                
                <label for="email" class="mt-4 mb-2 self-start text-xs lg:text-base">メールアドレス</label>
                <input type="email" id="email" name="email" required class="mt-0" autocomplete="email" placeholder="メールアドレス" />
                
                <label for="message" class="mt-4 mb-2 self-start text-xs lg:text-base">メッセージ</label>
                <textarea id="message" name="message" required class="mt-0" rows="10" autocomplete="message" placeholder="メッセージ"></textarea>
                
                <button type="submit" class="self-end mt-4 w-24 bg-blue-600 hover:bg-blue-500">Submit</button>
              </form>
        </div>
</div>